        <footer class="app-footer">
            <div class="wrapper">
                <span class="pull-right"><a href="#"><i class="fa fa-long-arrow-up"></i></a></span> Rung Truyen © 2016 Copyright.
            </div>
        </footer>
        <div>
            <!-- Javascript Libs -->
            <script type="text/javascript" src="../../javascripts/jquery.min.js"></script>
            <script type="text/javascript" src="../../javascripts/bootstrap.min.js"></script>
            <script type="text/javascript" src="../../javascripts/Chart.min.js"></script>
            <script type="text/javascript" src="../../javascripts/bootstrap-switch.min.js"></script>
            <script type="text/javascript" src="../../javascripts/jquery.matchHeight-min.js"></script>
            <script type="text/javascript" src="../../javascripts/jquery.dataTables.min.js"></script>
            <script type="text/javascript" src="../../javascripts/dataTables.bootstrap.min.js"></script>
            <script type="text/javascript" src="../../javascripts/select2.full.min.js"></script>
            <script type="text/javascript" src="../../javascripts/ace/ace.js"></script>
            <script type="text/javascript" src="../../javascripts/ace/mode-html.js"></script>
            <script type="text/javascript" src="../../javascripts/ace/theme-github.js"></script>
            <!-- Javascript -->
            <script type="text/javascript" src="../../javascripts/app.js"></script>
            <script type="text/javascript" src="../../javascripts/index.js"></script>
</body>

</html>
