<%include ./header%>
<%include ./leftmenu%>
<div class="container-fluid">
    <div class="side-body padding-top">
        <div class="row">
            <div class="alert alert-success">
                <strong><%=responseMesage%><p> Back to home <a href="/cms">Home</a></p></strong>
            </div>
        </div>
    </div>
</div>
<%include ./footer%>